.web-component {
  &-popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
  }

  &-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: 0.4;
    z-index: 1001;
  }

  &-content {
    min-height: 50vh;
    max-height: fit-content;
    width: 70vw;
    border: 2px solid #fff;
    z-index: 1002;
    background-color: #F0B260;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
