<ng-container *ngIf="visible">
  <div #webComponentPopup class="web-component-popup">
  <!-- <div [@fadeInOut]="visible ? 'open' : 'close'" #webComponentPopup class="web-component-popup"> -->
    <div #webComponentWrapper class="web-component-wrapper">
      <div #webComponentBackground class="web-component-background"></div>

      <div @flyIn @flyOut #webComponentContent class="web-component-content">
        <p>
          {{'Không có gì ở đây đâu, hehe :)'}}
        </p>
      </div>
    </div>
  </div>
</ng-container>
